body{
    width: 90%; 
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fbe9e7;
    background: -webkit-radial-gradient(rgb(255, 185, 237), rgb(255, 255, 255));
    background: radial-gradient(rgb(255, 185, 237), rgb(255, 255, 255));
    
    


}

p {
    font-family: 'Courier New', Courier, monospace, serif;
    line-height: 1.5em;
    color: #212121;
}
a:link{ 
    color: #2f00ff;
}

a:visited{
    color: #881482;
}
a:hover{
    color: red;
}
blockquote{

   width: 50%;
   margin-left: 25%;
   margin-right: 25%;
   padding: 30px;
   background-color:rgb(110, 116, 122);
   border: solid 3px firebrick;  
   margin-top: 80px;
   margin-bottom: 80px;
}
 
blockquote p{
     font-size: 160%;
     text-align: center;
 }