body {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #fbe9e7;
  background: -webkit-radial-gradient(rgb(255, 185, 237), rgb(255, 255, 255));
  background: radial-gradient(rgb(255, 185, 237), rgb(255, 255, 255));
  background-image: url(/image/OBZZVD1.webp);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

header {
  background-color: yellow;
}
p {
  font-family: "Courier New", Courier, monospace, serif;
  line-height: 1.5em;
  color: #212121;
}
a:link {
  color: #2f00ff;
}

a:visited {
  color: #881482;
}
a:hover {
  color: red;
}
blockquote {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 30px;
  background-color: rgb(110, 116, 122);
  border-left: solid 3px firebrick;
  margin-top: 80px;
  margin-bottom: 80px;
  font-style: italic;
}

blockquote p {
  font-size: 160%;
  text-align: center;
}

.dialp {
  font-style: italic;
  border-left: solid 3px rgb(0, 255, 13);
}

.dialf {
  font-style: italic;
  border-left: solid 3px rgb(255, 145, 0);
}

.good {
  text-transform: uppercase;
  color: green;
}

.bad {
  text-transform: uppercase;
  color: red;
}

td {
  border: 1px solid rgb(36, 35, 35);
  text-align: center;
  font-size: 16px;
}
.bl {
  background-color: black;
}

.bl td {
  color: rgb(245, 245, 245);
}

.wh {
  background-color: white;
}

.wh td {
  color: rgb(0, 0, 0);
}
.ok {
  background-image: url(/image/bien.png);
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: 20.5em;
  padding: 0.25;
}
.no {
  background-image: url(/image/mal.png);
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: 19.5em;
  padding: 0.25em;
}

.chat {
  background-image: url(/image/chat.png);
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: 19.5em;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

.paraun{
    font-weight: bold;
}

.imagea{ 
  width: 32.4%;
  padding-top: 3.1em;
  margin-right: 0.4em;
}

.imageb{
  width: 29%;
  margin-right: 1em;
  margin-top: 3em;
}
.resolution{
  float: left;

}
.imagec{
  float: right;
  width: 25%;
  margin-top: 4.5em;
  margin-left: 1em;
}

.notification{
  background:#FFFFDD;
  padding:.5rem 1rem;
  border:3px solid #DDDDCC;
  width:250px;
  font-weight:bold;
  color: #333300;
  position: fixed;

}